
@{
    ViewBag.Title = "Landing";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row img-responsive">
    <img class="animated zoomInDown" src="~/assets/img/RyanChapman_Evolv3_Logo.png" style="animation-iteration-count: 1; margin: 50px auto -120px auto; display: block" />
    <a href="@Url.Action("Index", "Home")"><img class="animated infinite pulse" src="~/assets/img/RyanChapman_gemRedLarge.png" style="max-width: 47.5%; margin:150px auto; display:block" /></a>
</div>
<div class="row" style="text-align: center; margin-right: 0px; margin-left: 0px; margin-top: -90px">
    <h1>Created with:</h1>
</div>
<div class="row" style="text-align: center; margin-right: 0px; margin-left: 0px">
    <img src="~/assets/img/html5-css3-js_juntos-300x300.png" style="max-width: 150px; margin-right: 5px; margin-left: 5px"/>
    <img src="~/assets/img/Net_MVC.jpg" style="max-width: 150px; margin-right: 5px; margin-left: 5px"/>
    <img src="~/assets/img/SQL.jpg" style="max-width: 150px; margin-right: 5px; margin-left: 5px"/>
    <img src="~/assets/img/Visual_Studio.png" style="max-width: 150px; margin-right: 5px; margin-left: 5px"/>
</div>
