@{
    ViewBag.Title = "Login Failure";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div style="max-width: 600px; margin: auto; margin-top: 150px">
    <img style="margin-left: -90px" src="~/assets/img/RyanChapman_Evolv3_Bigger.png" /><br /><br />
    <hgroup>
        <h2>@ViewBag.Title</h2>
        <h3 class="text-danger">Unsuccessful login with service.</h3>
    </hgroup>
</div>