@{
    ViewBag.Title = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div style="max-width: 600px; margin: auto; margin-top: 150px">
    <img style="margin-left: -90px" src="~/assets/img/RyanChapman_Evolv3_Bigger.png" /><br /><br />
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
